.header-banner{
	.header-banner__content.bg-white{
		padding-right: 0;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		position: relative;
		
		
	}
	.header-banner__text{
		@media (max-width: 767px) {
		   max-width:270px;
		}
		@media (max-width: 374px) {
			max-width: 215px;
		}
	}

	.header-banner__picture{
	width: 589px;	height: 362px;
	
		flex-shrink: 0;
		transform: translateX(140px);
		img{
		    height: 100%;
			width:100%;
			object-position: left;
			object-fit: contain;

		}
		@media(max-width:1279px) {
			height: 270px;
			transform: translateX(70px);
		}
		@media(max-width:991px) {
			height: 230px;
			
		}
		@media (max-width: 767px) {
		height: 45%;
			width: auto;
			transform: translate(0);
			position: absolute;
			bottom: 24%;
			right: 0;
			transform: translateX(35%);
		}
		@media (max-width: 424px) {
		    height: 38%;
			width: auto;
			transform: translate(0);
			position: absolute;
		    bottom: 28%;
			right: 0;
			transform: translateX(45%);
		}
	}
}

.between-block{
	padding-top: 107px;
	padding-bottom: 70px;
	
	&__content{padding-left: 103px;}
	@media (max-width: 991px) {
		padding-top: 70px;
	}
	@media (max-width:767px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	p{
	margin-top: 20px;	
	font-size: 30px;
	line-height: 120%;
	@media (max-width: 1279px) {
	   font-size: 24px;
	}
	@media (max-width: 767px) {
		font-size: 20px;
	}
	}
}
.flex-wrapper__content{
	display: flex;
	align-items: center;
	column-gap:100px;
	color: var(--dark);
	@media (max-width: 1279px) {
		column-gap: 70px;
	}
	@media (max-width: 991px) {
		column-gap: 40px;
	}
	@media (max-width: 767px) {
		flex-direction: column-reverse;
		row-gap:40px;
	}
}
.flex-wrapper__picture{
	width: 260px;
	flex-shrink: 0;
	@media (max-width: 1279px) {
			width: 200px;
		}
	@media (max-width: 991px) {
		width: 160px;
	}
}
.flex-wrapper__text .txt-bold{
	margin-top: 35px;
	max-width: 595px;
}
.flex-wrapper.flex-wrapper--reverse .flex-wrapper__content{
	flex-direction: row-reverse;
	color: #fff;
	@media (max-width: 767px) {
	   flex-direction: column;
	}
}
.flex-wrapper--reverse .flex-wrapper__text .txt-bold {
	max-width: unset;
}
.creatively-section,
.covering-section,
.fundamental-section{
	overflow: hidden;
}
.header-row{
	height: 84px;
	line-height: 84px;
	border-radius: 8px;
	text-align: center;
	margin-bottom: 12px;
	margin-left: -12px;
	margin-right: -12px;
	.h2, h2{line-height: inherit;}
	@media (max-width: 1279px) {
       height: 64px;
	   line-height: 64px;
		}
	@media (max-width: 991px) {
		margin-left: 0;
		margin-right: 0;
	}
	&-label{
		border-radius: 8px;
		background: #EF3F56;
		padding: 0 44px;
		color: white;
		font-size: 30px;
		text-transform: uppercase;
		text-align: center;
		white-space: nowrap;
		height: 100%;
		line-height: inherit;
		@media (max-width: 1279px) {
		font-size:22px;
		padding: 0 30px;
		}
		
	}
}
.header-row--grid{
	margin-left: 0;
	margin-right: 0;
	display: grid;
	gap:12px;
	grid-template-columns: repeat(4, minmax(220px, 291px));
	
}
.border-card{
	padding: 50px 44px;
	background-color: var(--dark);
	border-radius: 8px;
	border: 4px solid #EF3F56;
	color: white;
	@media (max-width: 991px) {
		padding: 30px 20px;
	}
	p{
      font-size: 18px;
	  line-height: 1.2;
	  margin-top: 32px;
		@media (max-width: 767px) {
			margin-top: 24px;
		}
	}
}
.covering-cards{
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	.border-card{
		width: calc((100% - 24px) /3);
	}
	.border-card:nth-child(5n +1),.border-card:nth-child(5n+2) {
		width: calc((100% - 12px) /2);
	}
}
.fundamental-cards{
	display: grid;
	grid-template-columns: repeat(3, minmax(280px, 392px));
	gap:12px;
}