.header-banner{
	.header-banner__content.bg-white{
		padding-right: 0;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		position: relative;
		
		
	}
	.header-banner__text{
		@media (max-width: 767px) {
		   max-width:270px;
		   .txt-bold{width: 80%;}
		}
		@media (max-width: 374px) {
			max-width: 215px;
		}
	}

	.header-banner__picture{
	width: 589px;	height: 362px;
	
		flex-shrink: 0;
		transform: translateX(140px);
		img{
		    height: 100%;
			width:100%;
			object-position: left;
			object-fit: contain;

		}
		@media(max-width:1279px) {
			height: 270px;
			transform: translateX(70px);
		}
		@media(max-width:991px) {
			height: 230px;
			
		}
		@media (max-width: 767px) {
		height: 45%;
			width: auto;
			transform: translate(0);
			position: absolute;
			bottom: 24%;
			right: 0;
			transform: translateX(35%);
		}
		@media (max-width: 424px) {
		    height: 38%;
			width: auto;
			transform: translate(0);
			position: absolute;
		    bottom: 28%;
			right: 0;
			transform: translateX(45%);
		}
	}
}


.flex-wrapper__content{
	display: flex;
	align-items: center;
	column-gap:100px;
	color: var(--dark);
	@media (max-width: 1279px) {
		column-gap: 70px;
	}
	@media (max-width: 991px) {
		column-gap: 40px;
	}
	@media (max-width: 767px) {
		flex-direction: column-reverse;
		row-gap:40px;
	}
}
.flex-wrapper__picture{
	width: 260px;
	flex-shrink: 0;
	@media (max-width: 1279px) {
			width: 200px;
		}
	@media (max-width: 991px) {
		width: 160px;
	}
}
.flex-wrapper__text .txt-bold{
	margin-top: 35px;
	max-width: 595px;
}
.flex-wrapper.flex-wrapper--reverse .flex-wrapper__content{
	flex-direction: row-reverse;
	color: #fff;
	@media (max-width: 767px) {
	   flex-direction: column;
	}
}
.flex-wrapper--reverse .flex-wrapper__text .txt-bold {
	max-width: unset;
}
.creatively-section,
.covering-section,
.fundamental-section{
	overflow: hidden;
}
.header-row{
	min-height: 84px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	text-align: center;
	margin-bottom: 12px;
	margin-left: -12px;
	margin-right: -12px;
	background-color: #fff;
	color: var(--dark);
	.h2, h2{line-height: inherit;}
	@media (max-width: 1279px) {

       min-height: 64px;
	   line-height: 1.3;
	   padding: 20px 12px;
	  
		}
	@media (max-width: 991px) {
		margin-left: 0;
		margin-right: 0;
	}
	&-label{
		border-radius: 8px;
		background: #EF3F56;
		padding: 0 44px;
		color: white;
		font-size: 30px;
		text-transform: uppercase;
		text-align: center;
		white-space: nowrap;
		height: 100%;
		line-height: inherit;
		line-height: 84px;
		@media (max-width: 1279px) {
		font-size:22px;
		padding: 0 10px;
		line-height: 64px;
		}
		
	}
}
.header-row--grid{
	margin-left: 0;
	margin-right: 0;
	padding: 0 !important;
	background-color: var(--dark);
	justify-content: flex-start;
	
	
	display: grid;
	gap:12px;
	grid-template-columns: repeat(4, minmax(160px, 291px));
	@media (max-width: 767px) {
	padding: 0 15px 0 0!important;
	}
	
}
.border-card{
	padding: 50px 44px;
	background-color: var(--dark);
	border-radius: 8px;
	border: 4px solid #EF3F56;
	color: white;
	@media (max-width: 991px) {
		padding: 30px 20px;
	}
	@media (max-width: 767px) {
		width: 280px;
		flex-shrink: 0;
	}
	p{
      font-size: 18px;
	  line-height: 1.2;
	  margin-top: 32px;
		@media (max-width: 1199px) {
			margin-top: 24px;
			font-size: 16px;	
		}
	}
}
.covering-cards{
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	@media (max-width: 767px) {
		flex-wrap: nowrap;
	}
	.border-card{
		width: calc((100% - 24px) /3);
		@media (max-width: 767px) {
		
			width: 280px;
			flex-shrink: 0;
		
		}
	}
	.border-card:nth-child(5n +1),.border-card:nth-child(5n+2) {
		width: calc((100% - 12px) /2);
		@media (max-width: 767px) {
			width: 280px;
			flex-shrink: 0;
		}
	}

}
.fundamental-cards{
	display: grid;
	grid-template-columns: repeat(3, minmax(280px, 392px));
	gap:12px;
	@media (max-width: 1199px) {
		grid-template-columns: repeat(3, 1fr);
	}
}
.small-card{
	background-color: var(--accent);
	border-radius: 8px;
	flex-shrink: 0;
	padding: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	text-align: center;
	font-family: var(--roboto);
	font-size: 24px;
	line-height: 100%;
	text-transform: lowercase;
		@media(max-width:1279px) {
			font-size: 20px;
			padding: 18px;
			
		}
		@media(max-width:991px) {
			font-size: 16px;
			padding: 16px;
		}
		@media (max-width: 767px) {
		min-width: 140px;
		}
}
.pillars-cards{
	display: grid;
	gap:12px;
	grid-template-columns: repeat(5, 1fr);

}
.partners-card{
	padding: 24px 44px;
	width: 288px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 8px;
		@media(max-width:1279px) {
			width: 100%;
			padding: 20px ;
		}
	img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.partners-slider{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap:12px;
	@media(max-width:767px){
		display: flex;
	}
	
}
.partners-content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:12px;
	
	@media(max-width:767px) {
		display: block;
		.owl-stage{padding-left: 0!important;}
	}
}
.owl-carousel.swipe-block{
	@media (max-width: 767px) {
	  padding-right: 0;
	  padding-bottom: 36px;
	}
}
.owl-carousel .owl-dots{
	display: flex;
	justify-content: center;
	align-items: center;
	gap:12px;
    margin-top: 24px;

.owl-dot {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	cursor: pointer;
}

.owl-dot.active::after {
	position: absolute;
	content: "";
	top: -6px;
	bottom: -6px;
	right: -6px;
	left: -6px;
	border-radius: 50%;
	-webkit-animation-name: dot-animate;
	animation-name: dot-animate;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

.owl-dot.active::before {
	position: absolute;
	content: "";
	top: -6px;
	bottom: -6px;
	right: -6px;
	left: -6px;
	border-radius: 50%;
	border: 3px solid #EF3F56;
}
}
@keyframes dot-animate {
	0% {
		border: 3px solid #fff;
		-webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%, 50% 50%)
	}

	12.5% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 0, 0 0, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 0, 0 0, 50% 50%, 50% 50%)
	}

	25% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 50%, 0 50%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 50%, 0 50%, 50% 50%, 50% 50%)
	}

	37.5% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%, 0 100%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%, 0 100%, 50% 50%, 50% 50%)
	}

	50% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 50%, 50% 50%)
	}

	62.5% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 50%, 50% 50%)
	}

	75% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%, 50% 50%)
	}

	87.5% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 50% 50%, 50% 50%)
	}

	100% {
		border: 3px solid #fff;
		-webkit-clip-path: polygon(50% 0%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 50%, 50% 50%)
	}
}