.header-banner
	.container
		.header-banner__content.bg-white.py-100
			.header-banner__text
				h1 Performance Marketing 
					span FOR THE #[br] NEW AGE
				.txt-bold
					p We're the matchmakers of the digital world, achieving greatness in user acquisition for online products & services. 
			.header-banner__picture
				img(src="./img/header-pic.svg",  alt="img")

//================= What makes us ===============
.between-block
	.container
		.between-block__content.px-88
			.h2 #[span //] What makes us... US
			p This is our agency. There are many like it, but this one is ours. 

//================= Can run ===============
.flex-wrapper
	.container
		.flex-wrapper__content.bg-white
			.flex-wrapper__picture
				img(src="./img/digital-world.svg", width="256" height="256" alt="img")
			.flex-wrapper__text
				.h2 #[span //] can run but can’t hide
				.txt-bold
					p We've orchestrated connections between our clients and millions of users all over the globe. No matter the country or language, our crack marketing team will sniff out your prospective audience.



//================= Creatively striking ===============
.creatively-section
	.container
		.header-row.header-row--grid.swipe-block
			.header-row-label AMERICAS
			.header-row-label EUROPE
			.header-row-label OCEANIA
			.header-row-label YOU NAME IT

	.flex-wrapper.flex-wrapper--reverse
		.container
			.flex-wrapper__content.bg-dark
				.flex-wrapper__picture
					img(src="./img/shape.svg", width="256" height="256" alt="img")
				.flex-wrapper__text
					.h2 #[span //] Creatively striking
					.txt-bold
						p We place creativity at the heart of our marketing strategy, leveraging diverse creatives and conducting thorough testing. Through this approach, we adeptly fine-tune each campaign, unlocking its maximum potential.We place creativity at the heart of our marketing strategy, leveraging diverse creatives and conducting thorough testing. Through this approach, we adeptly fine-tune each campaign, unlocking its maximum potential.

//=================  ACQUISITION DONE RIGHT ===============
.flex-wrapper
	.container
		.flex-wrapper__content.bg-white
			.flex-wrapper__picture
				img(src="./img/acquisition.svg", width="256" height="256" alt="img")
			.flex-wrapper__text
				.h2 #[span //] ACQUISITION DONE RIGHT
				.txt-bold
					p Like the reliable wingman you wished you had — we offer transparency, ingenious ideas, and results. From our smooth onboarding and brainstorming session to flawless execution and making campaigns so good they practically high-five themselves.


//=================== covering all the bases ===========
.covering-section
	.container
		.header-row.bg-red
			.h2 covering all the bases
		
		.covering-cards.swipe-block
			//====single item =======			
			.border-card
				.h3 #[span //] PLAN
				p Your goals, our expertise: let our marketing maestros assist you in hitting those targets and creating a custom plan for success.
			
			//====single item =======
			.border-card
				.h3 #[span //] EXECUTE
				p Our team will craft the ideal campaign to reach your goals. Count on our in-house creative, copywriting, and digital media experts to deliver.
			
			//====single item =======
			.border-card
				.h3 #[span //] OPTIMIZE
				p A campaign's journey doesn't conclude upon its launch. We engage in continuous analysis and agile adjustments throughout its timeline, ensuring the attainment of optimal results.

			
			//====single item =======
			.border-card
				.h3 #[span //] EXECUTE
				p Our team will craft the ideal campaign to reach your goals. Count on our in-house creative, copywriting, and digital media experts to deliver.
			
			//====single item =======
			.border-card
				.h3 #[span //] OPTIMIZE
				p A campaign's journey doesn't conclude upon its launch. We engage in continuous analysis and agile adjustments throughout its timeline, ensuring the attainment of optimal results.


//================= The art ===============
.between-block
	.container
		.between-block__content.px-88
			.h2 #[span //]  The art of reaching targets
			p We have the expertise to get you to your growth destination.


//=================  Data-driven  ===============
.flex-wrapper
	.container
		.flex-wrapper__content.bg-white
			.flex-wrapper__picture
				img(src="./img/graphs.svg", width="256" height="256" alt="img")
			.flex-wrapper__text
				.h2 #[span //] Data-driven at hear
				.txt-bold
					p Nothing out here happens on a whim — we're all about that data-driven approach, examining every clue to uncover the secrets of consumer behaviour. With this detective mindset, we craft campaigns that aren't just creative but also incredibly effective.


//=================== fundamental ===========
.fundamental-section
	.container
		.header-row.bg-red
			.h2 The fundamental three step plan to success
		
		.fundamental-cards.swipe-block
			//====single item =======			
			.border-card
				.h3 #[span //] PLAN
				p Your goals, our expertise: let our marketing maestros assist you in hitting those targets and creating a custom plan for success.
			
			//====single item =======
			.border-card
				.h3 #[span //] EXECUTE
				p Our team will craft the ideal campaign to reach your goals. Count on our in-house creative, copywriting, and digital media experts to deliver.
			
			//====single item =======
			.border-card
				.h3 #[span //] OPTIMIZE
				p A campaign's journey doesn't conclude upon its launch. We engage in continuous analysis and agile adjustments throughout its timeline, ensuring the attainment of optimal results.