header.header
	.container
		.header-content
			a(href="#!").logo
				img(src="./img/logo.webp", width="152" alt="logo")
			.header-menu#header-menu
				ul
					li
						a(href="#about") About
					li
						a(href="#services") Services
					li
						a(href="#partners") Partners
			
			
			a(href="#feedback").btn Contact us
			
			//====== icon toggle mob menu =====
			.menu-toggle#menu-toggle
				span