.header-banner
	.container
		.header-banner__content.bg-white.py-100
			.header-banner__text
				h1 Performance Marketing 
					span FOR THE #[br] NEW AGE
				.txt-bold
					p We're the matchmakers of the digital world, achieving greatness in user acquisition for online products & services. 
			.header-banner__picture
				img(src="./img/header-pic.svg",  alt="img")

.what-makes
	.container
		.what-makes__content.px-88
			.h2 #[span //] What makes us... US
			p This is our agency. There are many like it, but this one is ours. 

.can-run
	.container
		.can-run__content.bg-white
			.can-run__picture
				img(src="./img/digital-world.svg", width="256" height="256" alt="img")
			.can-run__text
				.h2 #[span //] can run but can’t hide
				.txt-bold
					p We've orchestrated connections between our clients and millions of users all over the globe. No matter the country or language, our crack marketing team will sniff out your prospective audience.