.header-banner
	.container
		.header-banner__content.bg-white.py-100
			.header-banner__text
				h1 Performance Marketing 
					span FOR THE #[br] NEW AGE
				p We're the matchmakers of the digital world, achieving greatness in user acquisition for online products & services. 
			.header-banner__picture
				img(src="./img/header-pic.svg",  alt="img")
