.header-banner
	.container
		.header-banner__content.bg-white.py-100
			.header-banner__text
				h1 Performance Marketing 
					span FOR THE #[br] NEW AGE
				.txt-bold
					p We're the matchmakers of the digital world, achieving greatness in user acquisition for online products & services. 
			.header-banner__picture
				img(src="./img/header-pic.svg",  alt="img")

//================= What makes us ===============
.what-makes#about
	.container
		.header-wrapper
			.h2 #[span //] What makes us... US
			p This is our agency. There are many like it, but this one is ours. 

		//================= Can run ===============
		.flex-wrapper
			.flex-wrapper__content.bg-white
				.flex-wrapper__picture
					img(src="./img/digital-world.svg", width="256" height="256" alt="img")
				.flex-wrapper__text
					.h2 #[span //] can run but can’t hide
					.txt-bold
						p We've orchestrated connections between our clients and millions of users all over the globe. No matter the country or language, our crack marketing team will sniff out your prospective audience.



//================= Creatively striking ===============
.creatively-section
	.container
		.header-row.header-row--grid.swipe-block
			.header-row-label AMERICAS
			.header-row-label EUROPE
			.header-row-label OCEANIA
			.header-row-label YOU NAME IT

	.flex-wrapper.flex-wrapper--reverse
		.container
			.flex-wrapper__content.bg-dark
				.flex-wrapper__picture
					img(src="./img/shape.svg", width="256" height="256" alt="img")
				.flex-wrapper__text
					.h2 #[span //] Creatively striking
					.txt-bold
						p We place creativity at the heart of our marketing strategy, leveraging diverse creatives and conducting thorough testing. Through this approach, we adeptly fine-tune each campaign, unlocking its maximum potential.We place creativity at the heart of our marketing strategy, leveraging diverse creatives and conducting thorough testing. Through this approach, we adeptly fine-tune each campaign, unlocking its maximum potential.

//=================  ACQUISITION DONE RIGHT ===============
.flex-wrapper
	.container
		.flex-wrapper__content.bg-white
			.flex-wrapper__picture
				img(src="./img/acquisition.svg", width="256" height="256" alt="img")
			.flex-wrapper__text
				.h2 #[span //] ACQUISITION DONE RIGHT
				.txt-bold
					p Like the reliable wingman you wished you had — we offer transparency, ingenious ideas, and results. From our smooth onboarding and brainstorming session to flawless execution and making campaigns so good they practically high-five themselves.


//=================== covering all the bases ===========
.covering-section#services
	.container
		.header-row.bg-red
			.h2 covering all the bases
		
		.covering-cards.swipe-block
			//====single item =======			
			.border-card
				.h3 #[span //] Social
				p Social ads are like the life of the digital party, mingling with your friends' posts and standing out with their own flair.
			
			//====single item =======
			.border-card
				.h3 #[span //] SEARCH
				p Search marketing is your digital detective, ensuring your website shines as the top result in online searches.
			
			//====single item =======
			.border-card
				.h3 #[span //] DISPLAY
				p Visual storytellers of the web, weaving narratives that capture curious eyes.

			
			//====single item =======
			.border-card
				.h3 #[span //] NATIVE
				p Аdvertising, blending into content like your funny uncle at a family reunion.
			
			//====single item =======
			.border-card
				.h3 #[span //] MOBILE
				p They're like pocket-sized billboards, bringing a burst of attention-grabbing flair to your screen.


//================= The art ===============
.pillars-success
	.container
		.header-wrapper
			.h2 #[span //]  The art of reaching targets
			p We have the expertise to get you to your growth destination.

		.header-row
			.h2 Some of the pillars of our success
		.pillars-cards.swipe-block
			.small-card
				p Account audit and setup
			.small-card
				p Efficient scaling
			.small-card
				p Experienced copywriting
			.small-card
				p A/B testing all day long
			.small-card
				p market research
			.small-card
				p Agile landing pages
			.small-card
				p High quality creatives
			.small-card
				p Elite team of media buyers
			.small-card
				p 24/7 campaign monitoring
			.small-card
				p thorough performance review


//=================  Data-driven  ===============
.flex-wrapper
	.container
		.flex-wrapper__content.bg-white
			.flex-wrapper__picture
				img(src="./img/graphs.svg", width="256" height="256" alt="img")
			.flex-wrapper__text
				.h2 #[span //] Data-driven at hear
				.txt-bold
					p Nothing out here happens on a whim — we're all about that data-driven approach, examining every clue to uncover the secrets of consumer behaviour. With this detective mindset, we craft campaigns that aren't just creative but also incredibly effective.


//=================== fundamental ===========
.fundamental-section
	.container
		.header-row.bg-red
			.h2 The fundamental three step plan to success
		
		.fundamental-cards.swipe-block
			//====single item =======			
			.border-card
				.h3 #[span //] PLAN
				p Your goals, our expertise: let our marketing maestros assist you in hitting those targets and creating a custom plan for success.
			
			//====single item =======
			.border-card
				.h3 #[span //] EXECUTE
				p Our team will craft the ideal campaign to reach your goals. Count on our in-house creative, copywriting, and digital media experts to deliver.
			
			//====single item =======
			.border-card
				.h3 #[span //] OPTIMIZE
				p A campaign's journey doesn't conclude upon its launch. We engage in continuous analysis and agile adjustments throughout its timeline, ensuring the attainment of optimal results.

//============== partners ==================
.partners#partners
	.container
		.header-wrapper
			.h2 #[span //] partners we’ll die for
			p That's just how we groove.
        
		.partners-content
			.partners-slider.owl-carousel.swipe-block
				.partners-card
					img(src="./img/1.webp", alt="LOGO")
				.partners-card
					img(src="./img/2.webp", alt="LOGO")
				.partners-card
					img(src="./img/3.webp", alt="LOGO")
				.partners-card
					img(src="./img/4.svg", alt="LOGO")
			
			.partners-text.bg-white
				.h2  #[span //] One for all
				.txt-bold
					p We take pleasure in forging new connections within the industry, and we steadfastly support our enduring partners. Above all, we cherish close relationships.
					p Company size and age hold no sway; our sole focus revolves around results and the sheer joy we derive from accomplishing them.

//==== feedback ===============
.feedback#feedback
	.container
		.header-wrapper
			.h2 #[span //]  less talk, more Acquisition
			p Have a project for us?
		.feedback-content.bg-white.py-100
			.h2 #[span //] CONTACT US
			form.contact-form(action="" method="POST")
				.form-item
					input(type="text" placeholder="Name")
				.form-item
					input(type="email" placeholder="Email")
				.form-item
					textarea(type="text" placeholder="Message")
				.form-btn
					button(type="submit").btn Contact us