:root{
 --roboto: "Roboto-Medium";
 --rubik: "Rubik-Medium";
 --rubItal:  "Rubik-Italic";
 --accent: #EF3F56;
 --dark: #262626;

 --white: white;
}

* {
	box-sizing: border-box;
  }
  
  html {
	scroll-behavior: smooth;
  }
  
  html,
  body {
	margin: 0;
	padding: 0;
	width: 100%;
  font-family: var(--rubik);
  color: var(--white);
  background-color: var(--dark);
  font-size: 22px;
  line-height: 1.2;
	-webkit-font-smoothing: antialiased;
  }
  .lock {
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
	height: 100vh;
  }
  
 
  a,
  a:hover {
	text-decoration: none;
  color: inherit;
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
	padding: 0;
	margin: 0;
  }
  h1, .h1 {
    font-size: 72px;
    font-style: italic;
    font-weight: 800;
    font-family: var(--rubItal);
    line-height: 90%;
    text-transform: uppercase;
      color: var(--accent);
    
    span{
    color: var(--dark);
    }
    @media(max-width:1279px) {
      font-size: 56px;
    }
    @media(max-width:991px) {
      font-size: 44px;
    }
   @media (max-width: 767px) {
     font-size: 34px;
   }
    @media (max-width: 374px) {
      font-size: 30px;
    }
  }
  h2, .h2,.h3,
  h3{
    font-size: 48px;
    line-height: 100%;
    text-transform: uppercase;
    
    span{
      
      color: var(--accent);
    }
    @media (max-width: 1279px) {
      font-size: 40px;
    }
    @media (max-width: 991px) {
     font-size: 32px;
    }
    @media (max-width: 767px) {
      font-size: 22px;
      line-height: 1.3;
    }
  }
  .h3, h3{
    font-size: 40px;
    @media (max-width: 1279px) {
        font-size: 32px;
      }
    
      @media (max-width: 991px) {
        font-size: 26px;
      }
    
      @media (max-width: 767px) {
        font-size: 22px;
      }
   
  }
.txt-bold{

    font-size: 22px;
    line-height: 120%;
    margin-top: 27px;

    @media(max-width:1279px) {
      font-size: 20px;
    }

    @media(max-width:991px) {
      font-size: 18px;
    }

    @media (max-width: 767px) {
      font-size: 16px;
      max-width: 80%;
      margin-top: 20px;
    }
  }

  figure {
	margin: 0;
  }
  img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
  object-fit: cover;
  }
  
  input,
  button, button:focus, input:focus {
	outline: none;
  font-family: inherit;
  font-size: inherit;
  }
  
  button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
  }
input[type="submit"]{
	padding: 0;
	cursor:pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid red;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #01203c inset;
  transition: background-color 5000s ease-in-out 0s;
}
.btn{
  display: inline-block;
  text-align: center;
  height: 45px;
  line-height: 45px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--white);
  border-radius: 100px;
  background: var(--accent);
  text-transform: uppercase;
  font-size: 18px;
  font-family: inherit;
  
  white-space: nowrap;
  transition: .5s;
  &:hover{
    opacity: .7;
  }
  @media (max-width: 991px) {
  font-size: 16px;
  }
  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
  }
}

.bg-white,.bg-dark{
  background-color: #fff;
  padding: 80px 88px;
  border-radius: 8px;
  color: var(--dark);
  @media(max-width:1279px){
    padding: 52px 60px;
  }
    @media (max-width: 991px) {
      padding: 50px;
    }
  @media (max-width: 767px) {
  padding: 40px 20px;
  }
  
}
.main-content{
  padding-top: 12px;
  padding-bottom: 12px;
  &>*+*{margin-top: 12px;}
}
.bg-dark {
  background-color: var(--dark);
  color: white;
  border: 4px solid #EF3F56;
}
.px-88{
  padding-left: 88px;
  padding-right: 88px;
  @media(max-width:1279px) {
    padding-left:  60px;
    padding-right: 60px;
  }

  @media (max-width: 767px) {
    padding-left: 0px;
    padding-right: 0px;
  }

  
}
.py-100{
  padding-top: 100px;
  padding-bottom: 100px;
  @media(max-width:1279px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  @media (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.bg-red{

  border-radius: 8px;
  color: white;
  background: #EF3F56;
}
.swipe-block{
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    width: 0;
    height: 0;
    display: none;
  }

  @media (max-width: 767px) {
    width: calc(50vw + 50%);
    padding-right: 12px;
  }
}
.container{
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media(max-width:1279px){
    width: 960px;
  }
  @media (max-width: 991px) {
    width: 760px;
  }
  @media (max-width: 767px) {
    width:100%;
  }
}



