:root{
 --roboto: "Roboto-Medium";
 --rubik: "Rubik-Medium";
 --rubItal:  "Rubik-Italic";
 --accent: #EF3F56;
 --dark: #262626;

 --white: white;
}

* {
	box-sizing: border-box;
  }
  
  html {
	scroll-behavior: smooth;
  }
  
  html,
  body {
	margin: 0;
	padding: 0;
	width: 100%;
  font-family: var(--rubik);
  color: var(--white);
  background-color: var(--dark);
  font-size: 22px;
  line-height: 1.2;
	-webkit-font-smoothing: antialiased;
  }
  .lock {
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
	height: 100vh;
  }
  
 
  a,
  a:hover {
	text-decoration: none;
  color: inherit;
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
	padding: 0;
	margin: 0;
  }
  figure {
	margin: 0;
  }
  img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
  }
  
  input,
  button, button:focus, input:focus {
	outline: none;
  }
  
  button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
  }
input[type="submit"]{
	padding: 0;
	cursor:pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid red;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #01203c inset;
  transition: background-color 5000s ease-in-out 0s;
}
.btn{
  display: inline-block;
  text-align: center;
  height: 45px;
  line-height: 45px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--white);
  border-radius: 100px;
  background: var(--accent);
  text-transform: uppercase;
  font-size: 18px;
  font-family: inherit;
  cursor:pointer;
  transition: .5s;
  &:hover{
    opacity: .7;
  }
}
.container{
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}



