include ../mixins/mixins.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		
		//===============slider owlCarousel ==========
		link(rel="stylesheet", href="./libs/owlCarousel/owl.carousel.min.css")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="css/main.css")
		title !{title}
		style.
			@font-face {
				font-family: "Roboto-Medium";
				src: url(./fonts/RobotoMono-Medium.woff2) format("woff2");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: "Rubik-Medium";
				src: url(./fonts/Rubik-Medium.woff2) format("woff2");
				
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: "Rubik-Italic";
				src: url(./fonts/Rubik-ExtraBoldItalic.woff2) format("woff2");
				font-display: swap;
			}
	body
		
		block content
		
		script(src="./libs/jquery/jquery-3.0.0.min.js")

		//===============slider owlCarousel ==========
		script(src="./libs/owlCarousel/owl.carousel.min.js")
		
		//=============== мои скрипты ===================	
		script(src="js/main.js")