include ../mixins/mixins.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		
		//======OPENGRAF ===========
		meta(name="description" content="" )
		meta(property="og:type" content="website")
		meta(property="og:site_name" content="")
		meta(property="og:title" content="")
		meta(property="og:description" content="")
		meta(property="og:url" content="")
		meta(property="og:locale" content="")
		meta(property="og:image" content="")
		meta(property="og:image:width" content="968")
		meta(property="og:image:height" content="504")
		
		//===============slider owlCarousel ==========
		link(rel="stylesheet", href="./libs/owlCarousel/owl.carousel.min.css")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="css/main.css")
		title !{title}
		style.
			@font-face {
				font-family: "Roboto-Medium";
				src: url(./fonts/RobotoMono-Medium.woff2) format("woff2");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: "Rubik-Medium";
				src: url(./fonts/Rubik-Medium.woff2) format("woff2");
				
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: "Rubik-Italic";
				src: url(./fonts/Rubik-ExtraBoldItalic.woff2) format("woff2");
				font-display: swap;
			}
	body
		
		block content
		#backtop
			a(href="#top")
				svg(xmlns="http://www.w3.org/2000/svg",  viewBox="0 0 18 24", fill="none")
					path(d="M9.04857 23.0132C8.80103 23.0132 8.56364 22.9149 8.3886 22.7399C8.21357 22.5648 8.11523 22.3274 8.11523 22.0799V1.91991C8.11523 1.67237 8.21357 1.43497 8.3886 1.25994C8.56364 1.08491 8.80103 0.986572 9.04857 0.986572C9.2961 0.986572 9.5335 1.08491 9.70853 1.25994C9.88357 1.43497 9.9819 1.67237 9.9819 1.91991V22.0799C9.9819 22.3274 9.88357 22.5648 9.70853 22.7399C9.5335 22.9149 9.2961 23.0132 9.04857 23.0132Z")
					path(d="M16.937 10.7419C16.6905 10.7417 16.4542 10.6437 16.28 10.4693L9.04851 3.22665L1.82078 10.4693C1.64552 10.6446 1.40782 10.743 1.15998 10.743C0.912128 10.743 0.674431 10.6446 0.499176 10.4693C0.323921 10.2941 0.225464 10.0564 0.225464 9.80852C0.225464 9.56067 0.323921 9.32297 0.499176 9.14772L8.38771 1.25918C8.56602 1.0898 8.80257 0.995361 9.04851 0.995361C9.29445 0.995361 9.531 1.0898 9.70931 1.25918L17.5978 9.14772C17.7716 9.32378 17.869 9.56117 17.869 9.80852C17.869 10.0559 17.7716 10.2933 17.5978 10.4693C17.5111 10.5561 17.4081 10.6249 17.2947 10.6716C17.1813 10.7184 17.0597 10.7423 16.937 10.7419Z", )
		script(src="./libs/jquery/jquery-3.0.0.min.js")

		//===============slider owlCarousel ==========
		script(src="./libs/owlCarousel/owl.carousel.min.js")
		
		//=============== мои скрипты ===================	
		script(src="js/main.js")